/*  your css code here. If applicable */
 .main-container {
        background-color: #f5f5f5;
        padding: 20px;
    }

    .testimonials {
        padding: 10px;
        border: 2px solid #f5f5f5;
        background-color: white;
        width: 800px;
        text-align: left;
        margin-bottom: 20px;
    }

    .author {
        font-style: italic;
        font-size: 15px;
        text-align: right;
    }